<ion-header>
  <ion-navbar color="shiro-blue">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Questionaires</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchBar()">
            <ion-icon name="search"></ion-icon>
        </button>
      <button ion-button icon-only (click)="addQuestionaire()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [hidden]="!searchBarEnabled" [(ngModel)]="searchFilter" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list>
      <ion-list-header>
          <ion-icon name="list" item-left></ion-icon>Defined Questionaires
        </ion-list-header>
        
        <button ion-item *ngFor="let questionaire of questionaires | propertyFilter: 'name': searchFilter" (click)="editQuestionaire($event, questionaire)">
          {{questionaire.name}}
          <ion-badge></ion-badge>
          <div class="item-note" item-right>
              <button ion-button ion-stop-event="click" (click)="generateForUser($event, questionaire)">
                <ion-icon name="play"></ion-icon>
              </button>
              <button ion-button ion-stop-event="click" (click)="duplicateQuestionaire($event, questionaire)">
                  <ion-icon name="copy"></ion-icon>
              </button>
  <button ion-button color="danger" ion-stop-event="click" (click)="deleteQuestionaire($event, questionaire)">
                  <ion-icon name="trash"></ion-icon>
              </button>
  </div>
  </button>

    <!--
  <ion-item-sliding *ngFor="let questionaire of questionaires" (click)="editSelected($event, questionaire)">
    <ion-item>
      {{questionaire.name}}
    </ion-item>
    <ion-item-options icon-start>
        <button ion-button ion-stop-event="click" (click)="duplicateSelected($event, questionaire)">
          <ion-icon name="copy"></ion-icon>
          Copy
        </button>
          <button ion-button ion-stop-event="click" (click)="deleteSelected($event, questionaire)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
    </ion-item-sliding>
  -->
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    &nbsp;&nbsp;Amount of questionaires: {{ questionaires.length }}
  </ion-toolbar>
</ion-footer>
