<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Questions</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="dark" (click)="addQuestion()">
                <ion-icon name="add"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let question of questions" (click)="editSelected($event, question)">
              {{question.value}}
              <div class="item-note" item-right>
      <button ion-button color="danger" ion-stop-event="click" (click)="deleteSelected($event, question)">
                      <ion-icon name="trash"></ion-icon>
                  </button>
    </div>
    </button>

    <!--
    <ion-item-sliding *ngFor="let question of questions" (click)="editSelected($event, question)">
      <ion-item>
        {{question.name}}
      </ion-item>
      <ion-item-options icon-start>
          <button ion-button ion-stop-event="click" (click)="duplicateSelected($event, question)">
            <ion-icon name="copy"></ion-icon>
            Copy
          </button>
            <button ion-button ion-stop-event="click" (click)="deleteSelected($event, question)">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
      </ion-item-sliding>
    -->
  </ion-list>
</ion-content>
