<!--
  Generated template for the QuestionaireDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="shiro-blue">
    <ion-title>Questionaire Detail</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="edit()" [hidden]="newItem">
                <ion-icon name="create"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="questionaire-detail">

    <questionaire-form [initialValue]="questionaire" [editEnabled]="editEnabled" #form></questionaire-form>
    <button ion-button (click)="save(form.value)" [hidden]="!editEnabled" [disabled]="!form.valid">Save</button>
    <button ion-button (click)="cancel()" [hidden]="!editEnabled" [disabled]="!form.valid">Cancel</button>

  <br>
  <ion-list [hidden]="editEnabled || assignedQuestionIds.length == 0">
    <ion-list-header>
      <ion-icon name="checkmark" item-left></ion-icon>Assigned Questions
    </ion-list-header>
    <!-- urm: lets discuss the existsFilter. Is this a UI task? Compare to search which in my opinion is a UI task -->
    <ion-item *ngFor="let question of assignedQuestions; let currentIndex=index;">
      <p>{{question.value}}</p>
      <div class="item-note" item-right>
        <button ion-button ion-stop-event="click" (click)="moveDown(question.$key, currentIndex)" [disabled]="currentIndex == assignedQuestionIds.length-1">
          <ion-icon name="arrow-round-down"></ion-icon>
        </button>
        <button ion-button ion-stop-event="click" (click)="moveUp(question.$key, currentIndex)"  [disabled]="currentIndex == 0">
          <ion-icon name="arrow-round-up"></ion-icon>
        </button>
        <button ion-button color="danger" ion-stop-event="click" (click)="unassignQuestion(question.$key)">
          <ion-icon name="remove"></ion-icon>
        </button>
      </div>

    </ion-item>
  </ion-list>
  <br>
  <ion-list [hidden]="editEnabled || questions.length == assignedQuestionIds.length">
    <ion-list-header>
      <ion-icon name="close" item-left></ion-icon>Unassigned Questions
    </ion-list-header>
    <ion-item *ngFor="let question of questions | notExistsFilter: '$key': assignedQuestionIds">
      <p>{{question.value}}</p>
      <div item-right>
        <button ion-button color="success" ion-stop-event="click" (click)="assignQuestion(question.$key)">
                        <ion-icon name="add"></ion-icon>
    </button>
      </div>

    </ion-item>
  </ion-list>

  <!--
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Name</ion-label>
      <ion-input type="text" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Enter a description"></ion-textarea>
    </ion-item>
  </ion-list>
-->
</ion-content>
